@import '_vars';
@import '_utils';

/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

html {
    font-family: 'Open Sans', sans-serif;
}

@mixin color-defines-css($defcolor) {
    .header {
        background-color: $defcolor;
        transition: background-color 0.3s linear 0s;

        &-colorslab {

            &--top {
                background-color: lighten($defcolor, 20);
                transition: background-color 0.3s linear 0s;
            }

            &--middle {
                background-color: lighten($defcolor, 10);
                transition: background-color 0.3s linear 0s;
            }

            &--bottom {
                background-color: darken($defcolor, 0);
                transition: background-color 0.3s linear 0s;
            }
        }

        &-xs-profile-links-pages-list-toggle,
        &-profile-links-pages-list-toggle {
            background: linear-gradient(to right, darken($defcolor, 10) 0%, $defcolor 100%);
            border: 3px solid lighten($defcolor, 33%);
            transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s;
        }

        &-xs-profile-links-pages-list li a svg g g,
        &-profile-links-pages-list li a svg g g {
            fill: lighten($defcolor, 33%);
        }
    }

    .content {
        background-color: $defcolor;
        transition: background-color 0.3s linear 0s;

        #panda {

            &-bgrect {
                fill: $defcolor;
                transition: fill 0.3s linear 0s;
            }

            &-pictrect {
                fill: lighten($defcolor, 10%);
                transition: fill 0.3s linear 0s;
            }

            &-cap {
                fill: darken($defcolor, 10%);
                transition: fill 0.3s linear 0s;
            }
        }
    }
}

body {

    @each $key, $value in $defaultPalettes {
        &.#{$key} {
            @include color-defines-css( $value );
        }
    }

    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0;
    transition: all 0.3s linear 0s;
    top: 0px;

    &.colorPickerActive {
        position: relative;
        top: 275px;
    }

    .color-switcher {
        position: absolute;
        height: 275px;
        width: 100%;
        top: -275px;
        left: 0;

        .accent-picker {
            height: 275px;
            margin: 0;
            overflow: hidden;
            padding: 30px;

            &-close {
                width: 24px;
                height: 24px;
                background-image: url(../../assets/app-close.png);
                background-size: contain;
                position: absolute;
                top: 30px;
                right: 30px;
                cursor: pointer;

                &:active {
                    transform: scale(0.95,0.95);
                }
            }

            label {
                font-size: large;
                margin: 0;
                font-weight: 500;
            }

            .settings-color-picker {
                margin: 0 auto;
                width: 200px;
                height: 200px;
                position: relative;
                -moz-transform: rotate(-20deg);
                -ms-transform: rotate(-20deg);
                -o-transform: rotate(-20deg);
                -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
                left: -30px;

                .color-plate {
                    width: 120px;
                    height: 48px;
                    position: absolute;
                    left: 127px;
                    -moz-transform-origin: 0 24px;
                    -ms-transform-origin: 0 24px;
                    -o-transform-origin: 0 24px;
                    -webkit-transform-origin: 0 24px;
                    transform-origin: 0 24px;
                    top: 140px;
                    border-radius: 7%;
                    border: 2px solid #e0e0e0;
                    -moz-transform: rotate(-150deg) scale(1,1);
                    -ms-transform: rotate(-150deg) scale(1,1);
                    -o-transform: rotate(-150deg) scale(1,1);
                    -webkit-transform: rotate(-150deg) scale(1,1);
                    transform: rotate(-150deg) scale(1,1);
                    outline: none;
                    cursor: pointer;

                    &:active {
                        -moz-transform: scale(0.90, 0.90);
                        -ms-transform: scale(0.90, 0.90);
                        -o-transform: scale(0.90, 0.90);
                        -webkit-transform: scale(0.90, 0.90);
                        transform: scale(0.90, 0.90);
                    }

                    &.ng-enter {
                        -moz-animation: color_track_pl_enter 0.3s linear;
                        -o-animation: color_track_pl_enter 0.3s linear;
                        -webkit-animation: color_track_pl_enter 0.3s linear;
                        animation: color_track_pl_enter 0.3s linear;
                    }
                }
            }
        }
    }

    .header {
        height: 132px;
        width: 100%;
        position: relative;

        &-xs {
            width: 100%;
            height: 60px;
            display: none;
            padding: 15px 15px 0 15px;

            @include respond-to-mobile {
                display: block;
            }

            &-profile-links {

                &-pages-list {
                    margin: 0;
                    list-style: none;
                    width: 100%;
                    text-align: center;
                    padding: 0;

                    li {
                        margin: 0;
                        display: inline-block;
                        font-size: 1.25em;
                        color: #fff;
                        border-bottom: 2px solid transparent;

                        &.header-profile-links-pages-list--active {
                            border-bottom: 2px solid #fff;
                        }

                        a {
                            padding: 10px 15px;
                            font-size: medium;
                            line-height: 48px;
                            height: 48px;
                            color: #fff;
                            text-decoration: none;

                            img {
                                width: 30px;
                            }

                            svg {
                                height: 30px;
                                position: relative;
                                top: 10px;
                            }
                        }
                    }
                }
            }

            &-profile-links-pages-list-toggle {
                cursor: pointer;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #ff0000;
                border: 3px solid #fff;
                position: relative;
                top: 12px;
                margin-left: 15px;
            }
        }

        &-colorslab {
            width: 100%;

            &--bottom {
                height: 50vh;
            }
        }

        &-profile-data {
            height: 132px;
            width: 100%;
            position: relative;
            padding: 30px;

            @include respond-to-mobile {
                z-index: 9;
            }
        }

        &-profile-links {
            position: relative;
            top: 6px;

            @include respond-to-mobile {
                display: none;
            }

            &-pages-list {
                margin: 0;
                list-style: none;
                width: 100%;
                text-align: center;
                padding: 0;

                li {
                    margin: 0;
                    display: inline-block;
                    font-size: 1.25em;
                    color: #fff;
                    border-bottom: 2px solid transparent;

                    &.header-profile-links-pages-list--active {
                        border-bottom: 2px solid #fff;
                    }

                    a {
                        padding: 10px 15px;
                        font-size: medium;
                        line-height: 48px;
                        height: 48px;
                        color: #fff;
                        text-decoration: none;
                        cursor: pointer;

                        img {
                            width: 30px;
                        }

                        svg {
                            height: 30px;
                            position: relative;
                            top: 10px;
                        }
                    }
                }
            }
        }

        &-profile-links-pages-list-toggle {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #ff0000;
            border: 3px solid #fff;
            position: relative;
            top: 15px;
            margin-left: 15px;


            @include respond-to-mobile {
                display: none;
            }
        }

        &-tagged {
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 2;
            padding-bottom: 75px;

            &-awesome {
                font-size: 3em;
                width: 100%;
                margin: 0;
                color: #fff;
                font-weight: 100;
                text-align: center;
                letter-spacing: 1px;

                @include respond-to-mobile {
                    display: none;
                }
            }

            &-topskills {
                margin: 15px 0;
                list-style: none;
                width: 100%;
                text-align: center;
                padding: 0;

                @include respond-to-mobile {
                    display: none;
                }

                li {
                    font-size: medium;
                    margin: 0;
                    color: #fff;
                    font-weight: 500;
                    text-align: center;
                    display: inline;

                    &:after {
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: #fff;
                        display: inline-block;
                        margin-left: 15px;
                        margin-right: 15px;
                    }

                    &:last-child:after {
                        background: transparent;
                        margin: 0;
                    }
                }
            }

            &-arrow-holder {
                width: 3em;
                height: 3em;
                border: 2px solid #fff;
                border-radius: 50%;
                display: block;
                margin: 45px auto 0;
                animation: arrow-dip-dop 3s linear infinite;

                @include respond-to-mobile {
                    margin: 0 auto;
                }

                &-arrow {
                    position: absolute;
                    overflow: hidden;
                    display: inline-block;
                    font-size: 12px; /*set the size for arrow*/
                    width: 1em;
                    height: 1em;
                    margin-top: 11px;

                    &--bottom {
                        border-bottom: 2px solid #fff;
                        border-left: 2px solid #fff;
                        transform: rotate(-46deg) skew(0deg);
                        left: calc(50% - 0.5em);
                    }
                }
            }
        }
    }

    .content {
        height: calc(100vh - 132px);
        width: 100%;
        background: #f6f6f6;
        position: relative;

        .panda-action {
            position: absolute;
            bottom: 0;
            z-index: 999;
            font-family: 'Open Sans', sans-serif;
            height: 120px;
            line-height: 120px;
            padding: 0;
            width: 33.33%;
            text-align: center;
            font-weight: 100;
            font-size: xx-large;
            cursor: pointer;
            box-sizing: border-box;
            border: none;
            background: transparent;
            transition: background 0.3s linear;
            color: #fff;
            background: rgba(0,0,0,0.33);
            box-sizing: border-box;

            @include respond-to-mobile {
                height: 180px;
                line-height: 180px;
                font-size: medium;
            }

            &.left {
                left: 0;
                border-right: 2px solid rgba(0,0,0,0.50);
            }

            &.mid {
                left: 33.33%;
                border-right: 2px solid rgba(0,0,0,0.50);
            }

            &.right {
                right: 0;
            }

            &:hover,
            &:active {
                background: rgba(0,0,0,0.1);
            }
        }

        #panda {
            height: 100%;
            display: block;
            margin: 0 auto;

            @include respond-to-mobile {
                width: 100%;
                position: relative;
                top: -90px;
            }

            &-pictrect {
                stroke-miterlimit: 10;
                stroke-width: 5px;
                stroke: #000;
            }

            &-cap {
                stroke: #000;
                stroke-miterlimit: 10;
                stroke-width: 5px;
            }

            .cls-10, .cls-4, .cls-8, .cls-9 {
                stroke: #000;
            }

            .cls-4, .cls-8, .cls-9 {
                stroke-miterlimit: 10;
            }

            .cls-4 {
                stroke-width: 5px;
            }

            .cls-3 {
                fill: #333;
            }

            .cls-10, .cls-4, .cls-8 {
                fill: none;
            }

            .cls-5 {
                fill: gray;
            }

            .cls-6 {
                fill: #f0f0f0;
            }

            .cls-7 {
                fill: #fff;
            }

            .cls-8 {
                stroke-width: 8px;
            }

            .cls-10 {
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 7px;
            }
        }
    }
}

@-moz-keyframes arrow-dip-dop {

    0%, 10%, 30%, 100% {
        transform: scale(1,1);
    }

    20% {
        transform: scale(1.10, 1.10);
    }
}

@-webkit-keyframes arrow-dip-dop {

    0%, 10%, 30%, 100% {
        transform: scale(1,1);
    }

    20% {
        transform: scale(1.10, 1.10);
    }
}

@keyframes arrow-dip-dop {

    0%, 10%, 30%, 100% {
        transform: scale(1,1);
    }

    20% {
        transform: scale(1.10, 1.10);
    }
}
