.m-a-0 {
  margin: 0 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a-auto {
  margin: auto auto !important; }

.m-t-auto {
  margin-top: auto !important; }

.m-r-auto {
  margin-right: auto !important; }

.m-b-auto {
  margin-bottom: auto !important; }

.m-l-auto {
  margin-left: auto !important; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.m-a-5 {
  margin: 5px 5px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-x-5 {
  margin-right: 5px !important;
  margin-left: 5px !important; }

.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.m-a-10 {
  margin: 10px 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-x-10 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.m-a-15 {
  margin: 15px 15px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.m-x-15 {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.m-a-20 {
  margin: 20px 20px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.m-x-20 {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.m-a-30 {
  margin: 30px 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-x-30 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.p-a-0 {
  padding: 0 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a-auto {
  padding: auto auto !important; }

.p-t-auto {
  padding-top: auto !important; }

.p-r-auto {
  padding-right: auto !important; }

.p-b-auto {
  padding-bottom: auto !important; }

.p-l-auto {
  padding-left: auto !important; }

.p-x-auto {
  padding-right: auto !important;
  padding-left: auto !important; }

.p-y-auto {
  padding-top: auto !important;
  padding-bottom: auto !important; }

.p-a-5 {
  padding: 5px 5px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.p-x-5 {
  padding-right: 5px !important;
  padding-left: 5px !important; }

.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.p-a-10 {
  padding: 10px 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.p-x-10 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.p-a-15 {
  padding: 15px 15px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.p-x-15 {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.p-a-20 {
  padding: 20px 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.p-x-20 {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.p-a-30 {
  padding: 30px 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.p-x-30 {
  padding-right: 30px !important;
  padding-left: 30px !important; }

.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.d-b {
  display: block; }

.d-ib {
  display: inline-block; }

.d-i {
  display: inline; }

.p-s {
  position: static; }

.p-a {
  position: absolute; }

.p-r {
  position: relative; }

.p-f {
  position: fixed; }

.util-uppercase {
  text-transform: uppercase; }

.util-w100 {
  width: 100%; }

.util-xxlarge {
  font-size: xx-large; }

.util-xlarge {
  font-size: x-large; }

.util-large {
  font-size: large; }

.util-medium {
  font-size: medium; }

.util-small {
  font-size: small; }

.util-xsmall {
  font-size: x-small; }

/* Include this file in your html if you are using the CSP mode. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important; }

html {
  font-family: 'Open Sans', sans-serif; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
  transition: all 0.3s linear 0s;
  top: 0px; }
  body.turquoise .header {
    background-color: #1abc9c;
    transition: background-color 0.3s linear 0s; }
    body.turquoise .header-colorslab--top {
      background-color: #55e7ca;
      transition: background-color 0.3s linear 0s; }
    body.turquoise .header-colorslab--middle {
      background-color: #28e1bd;
      transition: background-color 0.3s linear 0s; }
    body.turquoise .header-colorslab--bottom {
      background-color: #1abc9c;
      transition: background-color 0.3s linear 0s; }
    body.turquoise .header-xs-profile-links-pages-list-toggle, body.turquoise .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #148f77 0%, #1abc9c 100%);
      border: 3px solid #8fefdc;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.turquoise .header-xs-profile-links-pages-list li a svg g g,
    body.turquoise .header-profile-links-pages-list li a svg g g {
      fill: #8fefdc; }
  body.turquoise .content {
    background-color: #1abc9c;
    transition: background-color 0.3s linear 0s; }
    body.turquoise .content #panda-bgrect {
      fill: #1abc9c;
      transition: fill 0.3s linear 0s; }
    body.turquoise .content #panda-pictrect {
      fill: #28e1bd;
      transition: fill 0.3s linear 0s; }
    body.turquoise .content #panda-cap {
      fill: #28e1bd;
      transition: fill 0.3s linear 0s; }
  body.emerland .header {
    background-color: #2ecc71;
    transition: background-color 0.3s linear 0s; }
    body.emerland .header-colorslab--top {
      background-color: #7ee2a8;
      transition: background-color 0.3s linear 0s; }
    body.emerland .header-colorslab--middle {
      background-color: #54d98c;
      transition: background-color 0.3s linear 0s; }
    body.emerland .header-colorslab--bottom {
      background-color: #2ecc71;
      transition: background-color 0.3s linear 0s; }
    body.emerland .header-xs-profile-links-pages-list-toggle, body.emerland .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #25a25a 0%, #2ecc71 100%);
      border: 3px solid #b4eecd;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.emerland .header-xs-profile-links-pages-list li a svg g g,
    body.emerland .header-profile-links-pages-list li a svg g g {
      fill: #b4eecd; }
  body.emerland .content {
    background-color: #2ecc71;
    transition: background-color 0.3s linear 0s; }
    body.emerland .content #panda-bgrect {
      fill: #2ecc71;
      transition: fill 0.3s linear 0s; }
    body.emerland .content #panda-pictrect {
      fill: #54d98c;
      transition: fill 0.3s linear 0s; }
    body.emerland .content #panda-cap {
      fill: #54d98c;
      transition: fill 0.3s linear 0s; }
  body.peterRiver .header {
    background-color: #3498db;
    transition: background-color 0.3s linear 0s; }
    body.peterRiver .header-colorslab--top {
      background-color: #8bc4ea;
      transition: background-color 0.3s linear 0s; }
    body.peterRiver .header-colorslab--middle {
      background-color: #5faee3;
      transition: background-color 0.3s linear 0s; }
    body.peterRiver .header-colorslab--bottom {
      background-color: #3498db;
      transition: background-color 0.3s linear 0s; }
    body.peterRiver .header-xs-profile-links-pages-list-toggle, body.peterRiver .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #217dbb 0%, #3498db 100%);
      border: 3px solid #c3e1f4;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.peterRiver .header-xs-profile-links-pages-list li a svg g g,
    body.peterRiver .header-profile-links-pages-list li a svg g g {
      fill: #c3e1f4; }
  body.peterRiver .content {
    background-color: #3498db;
    transition: background-color 0.3s linear 0s; }
    body.peterRiver .content #panda-bgrect {
      fill: #3498db;
      transition: fill 0.3s linear 0s; }
    body.peterRiver .content #panda-pictrect {
      fill: #5faee3;
      transition: fill 0.3s linear 0s; }
    body.peterRiver .content #panda-cap {
      fill: #5faee3;
      transition: fill 0.3s linear 0s; }
  body.amethyst .header {
    background-color: #9b59b6;
    transition: background-color 0.3s linear 0s; }
    body.amethyst .header-colorslab--top {
      background-color: #c6a0d5;
      transition: background-color 0.3s linear 0s; }
    body.amethyst .header-colorslab--middle {
      background-color: #b07cc6;
      transition: background-color 0.3s linear 0s; }
    body.amethyst .header-colorslab--bottom {
      background-color: #9b59b6;
      transition: background-color 0.3s linear 0s; }
    body.amethyst .header-xs-profile-links-pages-list-toggle, body.amethyst .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #804399 0%, #9b59b6 100%);
      border: 3px solid #e1cee9;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.amethyst .header-xs-profile-links-pages-list li a svg g g,
    body.amethyst .header-profile-links-pages-list li a svg g g {
      fill: #e1cee9; }
  body.amethyst .content {
    background-color: #9b59b6;
    transition: background-color 0.3s linear 0s; }
    body.amethyst .content #panda-bgrect {
      fill: #9b59b6;
      transition: fill 0.3s linear 0s; }
    body.amethyst .content #panda-pictrect {
      fill: #b07cc6;
      transition: fill 0.3s linear 0s; }
    body.amethyst .content #panda-cap {
      fill: #b07cc6;
      transition: fill 0.3s linear 0s; }
  body.moosikPurple .header {
    background-color: #d613b5;
    transition: background-color 0.3s linear 0s; }
    body.moosikPurple .header-colorslab--top {
      background-color: #f15ed8;
      transition: background-color 0.3s linear 0s; }
    body.moosikPurple .header-colorslab--middle {
      background-color: #ed2fcd;
      transition: background-color 0.3s linear 0s; }
    body.moosikPurple .header-colorslab--bottom {
      background-color: #d613b5;
      transition: background-color 0.3s linear 0s; }
    body.moosikPurple .header-xs-profile-links-pages-list-toggle, body.moosikPurple .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #a70f8d 0%, #d613b5 100%);
      border: 3px solid #f69be7;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.moosikPurple .header-xs-profile-links-pages-list li a svg g g,
    body.moosikPurple .header-profile-links-pages-list li a svg g g {
      fill: #f69be7; }
  body.moosikPurple .content {
    background-color: #d613b5;
    transition: background-color 0.3s linear 0s; }
    body.moosikPurple .content #panda-bgrect {
      fill: #d613b5;
      transition: fill 0.3s linear 0s; }
    body.moosikPurple .content #panda-pictrect {
      fill: #ed2fcd;
      transition: fill 0.3s linear 0s; }
    body.moosikPurple .content #panda-cap {
      fill: #ed2fcd;
      transition: fill 0.3s linear 0s; }
  body.wetAsphalt .header {
    background-color: #34495e;
    transition: background-color 0.3s linear 0s; }
    body.wetAsphalt .header-colorslab--top {
      background-color: #587ca0;
      transition: background-color 0.3s linear 0s; }
    body.wetAsphalt .header-colorslab--middle {
      background-color: #46637f;
      transition: background-color 0.3s linear 0s; }
    body.wetAsphalt .header-colorslab--bottom {
      background-color: #34495e;
      transition: background-color 0.3s linear 0s; }
    body.wetAsphalt .header-xs-profile-links-pages-list-toggle, body.wetAsphalt .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #22303d 0%, #34495e 100%);
      border: 3px solid #819db9;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.wetAsphalt .header-xs-profile-links-pages-list li a svg g g,
    body.wetAsphalt .header-profile-links-pages-list li a svg g g {
      fill: #819db9; }
  body.wetAsphalt .content {
    background-color: #34495e;
    transition: background-color 0.3s linear 0s; }
    body.wetAsphalt .content #panda-bgrect {
      fill: #34495e;
      transition: fill 0.3s linear 0s; }
    body.wetAsphalt .content #panda-pictrect {
      fill: #46637f;
      transition: fill 0.3s linear 0s; }
    body.wetAsphalt .content #panda-cap {
      fill: #46637f;
      transition: fill 0.3s linear 0s; }
  body.greenSea .header {
    background-color: #16a085;
    transition: background-color 0.3s linear 0s; }
    body.greenSea .header-colorslab--top {
      background-color: #38e4c2;
      transition: background-color 0.3s linear 0s; }
    body.greenSea .header-colorslab--middle {
      background-color: #1ccdaa;
      transition: background-color 0.3s linear 0s; }
    body.greenSea .header-colorslab--bottom {
      background-color: #16a085;
      transition: background-color 0.3s linear 0s; }
    body.greenSea .header-xs-profile-links-pages-list-toggle, body.greenSea .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #107360 0%, #16a085 100%);
      border: 3px solid #73ecd4;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.greenSea .header-xs-profile-links-pages-list li a svg g g,
    body.greenSea .header-profile-links-pages-list li a svg g g {
      fill: #73ecd4; }
  body.greenSea .content {
    background-color: #16a085;
    transition: background-color 0.3s linear 0s; }
    body.greenSea .content #panda-bgrect {
      fill: #16a085;
      transition: fill 0.3s linear 0s; }
    body.greenSea .content #panda-pictrect {
      fill: #1ccdaa;
      transition: fill 0.3s linear 0s; }
    body.greenSea .content #panda-cap {
      fill: #1ccdaa;
      transition: fill 0.3s linear 0s; }
  body.nephritis .header {
    background-color: #27ae60;
    transition: background-color 0.3s linear 0s; }
    body.nephritis .header-colorslab--top {
      background-color: #60db94;
      transition: background-color 0.3s linear 0s; }
    body.nephritis .header-colorslab--middle {
      background-color: #36d278;
      transition: background-color 0.3s linear 0s; }
    body.nephritis .header-colorslab--bottom {
      background-color: #27ae60;
      transition: background-color 0.3s linear 0s; }
    body.nephritis .header-xs-profile-links-pages-list-toggle, body.nephritis .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #1e8449 0%, #27ae60 100%);
      border: 3px solid #96e7b8;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.nephritis .header-xs-profile-links-pages-list li a svg g g,
    body.nephritis .header-profile-links-pages-list li a svg g g {
      fill: #96e7b8; }
  body.nephritis .content {
    background-color: #27ae60;
    transition: background-color 0.3s linear 0s; }
    body.nephritis .content #panda-bgrect {
      fill: #27ae60;
      transition: fill 0.3s linear 0s; }
    body.nephritis .content #panda-pictrect {
      fill: #36d278;
      transition: fill 0.3s linear 0s; }
    body.nephritis .content #panda-cap {
      fill: #36d278;
      transition: fill 0.3s linear 0s; }
  body.belizeHole .header {
    background-color: #2980b9;
    transition: background-color 0.3s linear 0s; }
    body.belizeHole .header-colorslab--top {
      background-color: #6ab0de;
      transition: background-color 0.3s linear 0s; }
    body.belizeHole .header-colorslab--middle {
      background-color: #409ad5;
      transition: background-color 0.3s linear 0s; }
    body.belizeHole .header-colorslab--bottom {
      background-color: #2980b9;
      transition: background-color 0.3s linear 0s; }
    body.belizeHole .header-xs-profile-links-pages-list-toggle, body.belizeHole .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #20638f 0%, #2980b9 100%);
      border: 3px solid #a0cdea;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.belizeHole .header-xs-profile-links-pages-list li a svg g g,
    body.belizeHole .header-profile-links-pages-list li a svg g g {
      fill: #a0cdea; }
  body.belizeHole .content {
    background-color: #2980b9;
    transition: background-color 0.3s linear 0s; }
    body.belizeHole .content #panda-bgrect {
      fill: #2980b9;
      transition: fill 0.3s linear 0s; }
    body.belizeHole .content #panda-pictrect {
      fill: #409ad5;
      transition: fill 0.3s linear 0s; }
    body.belizeHole .content #panda-cap {
      fill: #409ad5;
      transition: fill 0.3s linear 0s; }
  body.wisteria .header {
    background-color: #8e44ad;
    transition: background-color 0.3s linear 0s; }
    body.wisteria .header-colorslab--top {
      background-color: #ba87d0;
      transition: background-color 0.3s linear 0s; }
    body.wisteria .header-colorslab--middle {
      background-color: #a563c1;
      transition: background-color 0.3s linear 0s; }
    body.wisteria .header-colorslab--bottom {
      background-color: #8e44ad;
      transition: background-color 0.3s linear 0s; }
    body.wisteria .header-xs-profile-links-pages-list-toggle, body.wisteria .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #703688 0%, #8e44ad 100%);
      border: 3px solid #d6b7e3;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.wisteria .header-xs-profile-links-pages-list li a svg g g,
    body.wisteria .header-profile-links-pages-list li a svg g g {
      fill: #d6b7e3; }
  body.wisteria .content {
    background-color: #8e44ad;
    transition: background-color 0.3s linear 0s; }
    body.wisteria .content #panda-bgrect {
      fill: #8e44ad;
      transition: fill 0.3s linear 0s; }
    body.wisteria .content #panda-pictrect {
      fill: #a563c1;
      transition: fill 0.3s linear 0s; }
    body.wisteria .content #panda-cap {
      fill: #a563c1;
      transition: fill 0.3s linear 0s; }
  body.midnightBlue .header {
    background-color: #2c3e50;
    transition: background-color 0.3s linear 0s; }
    body.midnightBlue .header-colorslab--top {
      background-color: #507192;
      transition: background-color 0.3s linear 0s; }
    body.midnightBlue .header-colorslab--middle {
      background-color: #3e5871;
      transition: background-color 0.3s linear 0s; }
    body.midnightBlue .header-colorslab--bottom {
      background-color: #2c3e50;
      transition: background-color 0.3s linear 0s; }
    body.midnightBlue .header-xs-profile-links-pages-list-toggle, body.midnightBlue .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #1a252f 0%, #2c3e50 100%);
      border: 3px solid #7392b2;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.midnightBlue .header-xs-profile-links-pages-list li a svg g g,
    body.midnightBlue .header-profile-links-pages-list li a svg g g {
      fill: #7392b2; }
  body.midnightBlue .content {
    background-color: #2c3e50;
    transition: background-color 0.3s linear 0s; }
    body.midnightBlue .content #panda-bgrect {
      fill: #2c3e50;
      transition: fill 0.3s linear 0s; }
    body.midnightBlue .content #panda-pictrect {
      fill: #3e5871;
      transition: fill 0.3s linear 0s; }
    body.midnightBlue .content #panda-cap {
      fill: #3e5871;
      transition: fill 0.3s linear 0s; }
  body.sunDlower .header {
    background-color: #f1c40f;
    transition: background-color 0.3s linear 0s; }
    body.sunDlower .header-colorslab--top {
      background-color: #f7dc6f;
      transition: background-color 0.3s linear 0s; }
    body.sunDlower .header-colorslab--middle {
      background-color: #f4d03f;
      transition: background-color 0.3s linear 0s; }
    body.sunDlower .header-colorslab--bottom {
      background-color: #f1c40f;
      transition: background-color 0.3s linear 0s; }
    body.sunDlower .header-xs-profile-links-pages-list-toggle, body.sunDlower .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #c29d0b 0%, #f1c40f 100%);
      border: 3px solid #faebae;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.sunDlower .header-xs-profile-links-pages-list li a svg g g,
    body.sunDlower .header-profile-links-pages-list li a svg g g {
      fill: #faebae; }
  body.sunDlower .content {
    background-color: #f1c40f;
    transition: background-color 0.3s linear 0s; }
    body.sunDlower .content #panda-bgrect {
      fill: #f1c40f;
      transition: fill 0.3s linear 0s; }
    body.sunDlower .content #panda-pictrect {
      fill: #f4d03f;
      transition: fill 0.3s linear 0s; }
    body.sunDlower .content #panda-cap {
      fill: #f4d03f;
      transition: fill 0.3s linear 0s; }
  body.carrot .header {
    background-color: #e67e22;
    transition: background-color 0.3s linear 0s; }
    body.carrot .header-colorslab--top {
      background-color: #f0b37e;
      transition: background-color 0.3s linear 0s; }
    body.carrot .header-colorslab--middle {
      background-color: #eb9950;
      transition: background-color 0.3s linear 0s; }
    body.carrot .header-colorslab--bottom {
      background-color: #e67e22;
      transition: background-color 0.3s linear 0s; }
    body.carrot .header-xs-profile-links-pages-list-toggle, body.carrot .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #bf6516 0%, #e67e22 100%);
      border: 3px solid #f7d6b9;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.carrot .header-xs-profile-links-pages-list li a svg g g,
    body.carrot .header-profile-links-pages-list li a svg g g {
      fill: #f7d6b9; }
  body.carrot .content {
    background-color: #e67e22;
    transition: background-color 0.3s linear 0s; }
    body.carrot .content #panda-bgrect {
      fill: #e67e22;
      transition: fill 0.3s linear 0s; }
    body.carrot .content #panda-pictrect {
      fill: #eb9950;
      transition: fill 0.3s linear 0s; }
    body.carrot .content #panda-cap {
      fill: #eb9950;
      transition: fill 0.3s linear 0s; }
  body.alizarin .header {
    background-color: #e74c3c;
    transition: background-color 0.3s linear 0s; }
    body.alizarin .header-colorslab--top {
      background-color: #f29f97;
      transition: background-color 0.3s linear 0s; }
    body.alizarin .header-colorslab--middle {
      background-color: #ed7669;
      transition: background-color 0.3s linear 0s; }
    body.alizarin .header-colorslab--bottom {
      background-color: #e74c3c;
      transition: background-color 0.3s linear 0s; }
    body.alizarin .header-xs-profile-links-pages-list-toggle, body.alizarin .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #d62c1a 0%, #e74c3c 100%);
      border: 3px solid #f9d6d2;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.alizarin .header-xs-profile-links-pages-list li a svg g g,
    body.alizarin .header-profile-links-pages-list li a svg g g {
      fill: #f9d6d2; }
  body.alizarin .content {
    background-color: #e74c3c;
    transition: background-color 0.3s linear 0s; }
    body.alizarin .content #panda-bgrect {
      fill: #e74c3c;
      transition: fill 0.3s linear 0s; }
    body.alizarin .content #panda-pictrect {
      fill: #ed7669;
      transition: fill 0.3s linear 0s; }
    body.alizarin .content #panda-cap {
      fill: #ed7669;
      transition: fill 0.3s linear 0s; }
  body.orange .header {
    background-color: #f39c12;
    transition: background-color 0.3s linear 0s; }
    body.orange .header-colorslab--top {
      background-color: #f8c573;
      transition: background-color 0.3s linear 0s; }
    body.orange .header-colorslab--middle {
      background-color: #f5b043;
      transition: background-color 0.3s linear 0s; }
    body.orange .header-colorslab--bottom {
      background-color: #f39c12;
      transition: background-color 0.3s linear 0s; }
    body.orange .header-xs-profile-links-pages-list-toggle, body.orange .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #c87f0a 0%, #f39c12 100%);
      border: 3px solid #fbdfb2;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.orange .header-xs-profile-links-pages-list li a svg g g,
    body.orange .header-profile-links-pages-list li a svg g g {
      fill: #fbdfb2; }
  body.orange .content {
    background-color: #f39c12;
    transition: background-color 0.3s linear 0s; }
    body.orange .content #panda-bgrect {
      fill: #f39c12;
      transition: fill 0.3s linear 0s; }
    body.orange .content #panda-pictrect {
      fill: #f5b043;
      transition: fill 0.3s linear 0s; }
    body.orange .content #panda-cap {
      fill: #f5b043;
      transition: fill 0.3s linear 0s; }
  body.pumpkin .header {
    background-color: #d35400;
    transition: background-color 0.3s linear 0s; }
    body.pumpkin .header-colorslab--top {
      background-color: #ff883a;
      transition: background-color 0.3s linear 0s; }
    body.pumpkin .header-colorslab--middle {
      background-color: #ff6a07;
      transition: background-color 0.3s linear 0s; }
    body.pumpkin .header-colorslab--bottom {
      background-color: #d35400;
      transition: background-color 0.3s linear 0s; }
    body.pumpkin .header-xs-profile-links-pages-list-toggle, body.pumpkin .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #a04000 0%, #d35400 100%);
      border: 3px solid #ffb07c;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.pumpkin .header-xs-profile-links-pages-list li a svg g g,
    body.pumpkin .header-profile-links-pages-list li a svg g g {
      fill: #ffb07c; }
  body.pumpkin .content {
    background-color: #d35400;
    transition: background-color 0.3s linear 0s; }
    body.pumpkin .content #panda-bgrect {
      fill: #d35400;
      transition: fill 0.3s linear 0s; }
    body.pumpkin .content #panda-pictrect {
      fill: #ff6a07;
      transition: fill 0.3s linear 0s; }
    body.pumpkin .content #panda-cap {
      fill: #ff6a07;
      transition: fill 0.3s linear 0s; }
  body.pomegranate .header {
    background-color: #c0392b;
    transition: background-color 0.3s linear 0s; }
    body.pomegranate .header-colorslab--top {
      background-color: #df7c72;
      transition: background-color 0.3s linear 0s; }
    body.pomegranate .header-colorslab--middle {
      background-color: #d65548;
      transition: background-color 0.3s linear 0s; }
    body.pomegranate .header-colorslab--bottom {
      background-color: #c0392b;
      transition: background-color 0.3s linear 0s; }
    body.pomegranate .header-xs-profile-links-pages-list-toggle, body.pomegranate .header-profile-links-pages-list-toggle {
      background: linear-gradient(to right, #962d22 0%, #c0392b 100%);
      border: 3px solid #ebaea8;
      transition: background-color 0.3s linear 0s, border-color 0.3s linear 0s; }
    body.pomegranate .header-xs-profile-links-pages-list li a svg g g,
    body.pomegranate .header-profile-links-pages-list li a svg g g {
      fill: #ebaea8; }
  body.pomegranate .content {
    background-color: #c0392b;
    transition: background-color 0.3s linear 0s; }
    body.pomegranate .content #panda-bgrect {
      fill: #c0392b;
      transition: fill 0.3s linear 0s; }
    body.pomegranate .content #panda-pictrect {
      fill: #d65548;
      transition: fill 0.3s linear 0s; }
    body.pomegranate .content #panda-cap {
      fill: #d65548;
      transition: fill 0.3s linear 0s; }
  body.colorPickerActive {
    position: relative;
    top: 275px; }
  body .color-switcher {
    position: absolute;
    height: 275px;
    width: 100%;
    top: -275px;
    left: 0; }
    body .color-switcher .accent-picker {
      height: 275px;
      margin: 0;
      overflow: hidden;
      padding: 30px; }
      body .color-switcher .accent-picker-close {
        width: 24px;
        height: 24px;
        background-image: url(../../assets/app-close.png);
        background-size: contain;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer; }
        body .color-switcher .accent-picker-close:active {
          transform: scale(0.95, 0.95); }
      body .color-switcher .accent-picker label {
        font-size: large;
        margin: 0;
        font-weight: 500; }
      body .color-switcher .accent-picker .settings-color-picker {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        position: relative;
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        left: -30px; }
        body .color-switcher .accent-picker .settings-color-picker .color-plate {
          width: 120px;
          height: 48px;
          position: absolute;
          left: 127px;
          -moz-transform-origin: 0 24px;
          -ms-transform-origin: 0 24px;
          -o-transform-origin: 0 24px;
          -webkit-transform-origin: 0 24px;
          transform-origin: 0 24px;
          top: 140px;
          border-radius: 7%;
          border: 2px solid #e0e0e0;
          -moz-transform: rotate(-150deg) scale(1, 1);
          -ms-transform: rotate(-150deg) scale(1, 1);
          -o-transform: rotate(-150deg) scale(1, 1);
          -webkit-transform: rotate(-150deg) scale(1, 1);
          transform: rotate(-150deg) scale(1, 1);
          outline: none;
          cursor: pointer; }
          body .color-switcher .accent-picker .settings-color-picker .color-plate:active {
            -moz-transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9);
            -o-transform: scale(0.9, 0.9);
            -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9); }
          body .color-switcher .accent-picker .settings-color-picker .color-plate.ng-enter {
            -moz-animation: color_track_pl_enter 0.3s linear;
            -o-animation: color_track_pl_enter 0.3s linear;
            -webkit-animation: color_track_pl_enter 0.3s linear;
            animation: color_track_pl_enter 0.3s linear; }
  body .header {
    height: 132px;
    width: 100%;
    position: relative; }
    body .header-xs {
      width: 100%;
      height: 60px;
      display: none;
      padding: 15px 15px 0 15px; }
      @media only screen and (max-width: 768px) {
        body .header-xs {
          display: block; } }
      body .header-xs-profile-links-pages-list {
        margin: 0;
        list-style: none;
        width: 100%;
        text-align: center;
        padding: 0; }
        body .header-xs-profile-links-pages-list li {
          margin: 0;
          display: inline-block;
          font-size: 1.25em;
          color: #fff;
          border-bottom: 2px solid transparent; }
          body .header-xs-profile-links-pages-list li.header-profile-links-pages-list--active {
            border-bottom: 2px solid #fff; }
          body .header-xs-profile-links-pages-list li a {
            padding: 10px 15px;
            font-size: medium;
            line-height: 48px;
            height: 48px;
            color: #fff;
            text-decoration: none; }
            body .header-xs-profile-links-pages-list li a img {
              width: 30px; }
            body .header-xs-profile-links-pages-list li a svg {
              height: 30px;
              position: relative;
              top: 10px; }
      body .header-xs-profile-links-pages-list-toggle {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ff0000;
        border: 3px solid #fff;
        position: relative;
        top: 12px;
        margin-left: 15px; }
    body .header-colorslab {
      width: 100%; }
      body .header-colorslab--bottom {
        height: 50vh; }
    body .header-profile-data {
      height: 132px;
      width: 100%;
      position: relative;
      padding: 30px; }
      @media only screen and (max-width: 768px) {
        body .header-profile-data {
          z-index: 9; } }
    body .header-profile-links {
      position: relative;
      top: 6px; }
      @media only screen and (max-width: 768px) {
        body .header-profile-links {
          display: none; } }
      body .header-profile-links-pages-list {
        margin: 0;
        list-style: none;
        width: 100%;
        text-align: center;
        padding: 0; }
        body .header-profile-links-pages-list li {
          margin: 0;
          display: inline-block;
          font-size: 1.25em;
          color: #fff;
          border-bottom: 2px solid transparent; }
          body .header-profile-links-pages-list li.header-profile-links-pages-list--active {
            border-bottom: 2px solid #fff; }
          body .header-profile-links-pages-list li a {
            padding: 10px 15px;
            font-size: medium;
            line-height: 48px;
            height: 48px;
            color: #fff;
            text-decoration: none;
            cursor: pointer; }
            body .header-profile-links-pages-list li a img {
              width: 30px; }
            body .header-profile-links-pages-list li a svg {
              height: 30px;
              position: relative;
              top: 10px; }
    body .header-profile-links-pages-list-toggle {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #ff0000;
      border: 3px solid #fff;
      position: relative;
      top: 15px;
      margin-left: 15px; }
      @media only screen and (max-width: 768px) {
        body .header-profile-links-pages-list-toggle {
          display: none; } }
    body .header-tagged {
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 2;
      padding-bottom: 75px; }
      body .header-tagged-awesome {
        font-size: 3em;
        width: 100%;
        margin: 0;
        color: #fff;
        font-weight: 100;
        text-align: center;
        letter-spacing: 1px; }
        @media only screen and (max-width: 768px) {
          body .header-tagged-awesome {
            display: none; } }
      body .header-tagged-topskills {
        margin: 15px 0;
        list-style: none;
        width: 100%;
        text-align: center;
        padding: 0; }
        @media only screen and (max-width: 768px) {
          body .header-tagged-topskills {
            display: none; } }
        body .header-tagged-topskills li {
          font-size: medium;
          margin: 0;
          color: #fff;
          font-weight: 500;
          text-align: center;
          display: inline; }
          body .header-tagged-topskills li:after {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #fff;
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px; }
          body .header-tagged-topskills li:last-child:after {
            background: transparent;
            margin: 0; }
      body .header-tagged-arrow-holder {
        width: 3em;
        height: 3em;
        border: 2px solid #fff;
        border-radius: 50%;
        display: block;
        margin: 45px auto 0;
        animation: arrow-dip-dop 3s linear infinite; }
        @media only screen and (max-width: 768px) {
          body .header-tagged-arrow-holder {
            margin: 0 auto; } }
        body .header-tagged-arrow-holder-arrow {
          position: absolute;
          overflow: hidden;
          display: inline-block;
          font-size: 12px;
          /*set the size for arrow*/
          width: 1em;
          height: 1em;
          margin-top: 11px; }
          body .header-tagged-arrow-holder-arrow--bottom {
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            transform: rotate(-46deg) skew(0deg);
            left: calc(50% - 0.5em); }
  body .content {
    height: calc(100vh - 132px);
    width: 100%;
    background: #f6f6f6;
    position: relative; }
    body .content .panda-action {
      position: absolute;
      bottom: 0;
      z-index: 999;
      font-family: 'Open Sans', sans-serif;
      height: 120px;
      line-height: 120px;
      padding: 0;
      width: 33.33%;
      text-align: center;
      font-weight: 100;
      font-size: xx-large;
      cursor: pointer;
      box-sizing: border-box;
      border: none;
      background: transparent;
      transition: background 0.3s linear;
      color: #fff;
      background: rgba(0, 0, 0, 0.33);
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        body .content .panda-action {
          height: 180px;
          line-height: 180px;
          font-size: medium; } }
      body .content .panda-action.left {
        left: 0;
        border-right: 2px solid rgba(0, 0, 0, 0.5); }
      body .content .panda-action.mid {
        left: 33.33%;
        border-right: 2px solid rgba(0, 0, 0, 0.5); }
      body .content .panda-action.right {
        right: 0; }
      body .content .panda-action:hover, body .content .panda-action:active {
        background: rgba(0, 0, 0, 0.1); }
    body .content #panda {
      height: 100%;
      display: block;
      margin: 0 auto; }
      @media only screen and (max-width: 768px) {
        body .content #panda {
          width: 100%;
          position: relative;
          top: -90px; } }
      body .content #panda-pictrect {
        stroke-miterlimit: 10;
        stroke-width: 5px;
        stroke: #000; }
      body .content #panda-cap {
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 5px; }
      body .content #panda .cls-10, body .content #panda .cls-4, body .content #panda .cls-8, body .content #panda .cls-9 {
        stroke: #000; }
      body .content #panda .cls-4, body .content #panda .cls-8, body .content #panda .cls-9 {
        stroke-miterlimit: 10; }
      body .content #panda .cls-4 {
        stroke-width: 5px; }
      body .content #panda .cls-3 {
        fill: #333; }
      body .content #panda .cls-10, body .content #panda .cls-4, body .content #panda .cls-8 {
        fill: none; }
      body .content #panda .cls-5 {
        fill: gray; }
      body .content #panda .cls-6 {
        fill: #f0f0f0; }
      body .content #panda .cls-7 {
        fill: #fff; }
      body .content #panda .cls-8 {
        stroke-width: 8px; }
      body .content #panda .cls-10 {
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 7px; }

@-moz-keyframes arrow-dip-dop {
  0%, 10%, 30%, 100% {
    transform: scale(1, 1); }
  20% {
    transform: scale(1.1, 1.1); } }

@-webkit-keyframes arrow-dip-dop {
  0%, 10%, 30%, 100% {
    transform: scale(1, 1); }
  20% {
    transform: scale(1.1, 1.1); } }

@keyframes arrow-dip-dop {
  0%, 10%, 30%, 100% {
    transform: scale(1, 1); }
  20% {
    transform: scale(1.1, 1.1); } }
